<!--
  Note on Subresource Integrity (SRI):
  - Local files (jQuery, Bootstrap, etc.) don't require SRI as they're same-origin
  - Google Analytics script is dynamic and changes frequently, so SRI isn't practical
  - Disqus and Twitter scripts are dynamically loaded, so SRI isn't applicable
  - Facebook SDK already includes crossorigin="anonymous" for CORS support
  - For production CDN resources, consider adding integrity attributes when possible
-->

<!-- jQuery -->
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js" defer></script>

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}/js/jquery.easing.min.js" defer></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/grayscale.min.js" defer></script>

<!-- WebP Background Image Support -->
<script>
(function() {
  // Detect WebP support
  function supportsWebP() {
    var canvas = document.createElement('canvas');
    canvas.width = 1;
    canvas.height = 1;
    return canvas.toDataURL('image/webp').indexOf('data:image/webp') === 0;
  }
  
  // Update background images to WebP if supported
  if (supportsWebP()) {
    var styleSheets = document.styleSheets;
    for (var i = 0; i < styleSheets.length; i++) {
      try {
        var rules = styleSheets[i].cssRules || styleSheets[i].rules;
        for (var j = 0; j < rules.length; j++) {
          var rule = rules[j];
          if (rule.style && rule.style.backgroundImage) {
            var bgImage = rule.style.backgroundImage;
            // Replace .jpg and .png with .webp in background images
            if (bgImage.indexOf('.jpg') !== -1 || bgImage.indexOf('.png') !== -1) {
              rule.style.backgroundImage = bgImage.replace(/\.(jpg|png)/g, '.webp');
            }
          }
        }
      } catch (e) {
        // Cross-origin stylesheets may throw errors, skip them
      }
    }
    
    // Also update inline styles and elements with background-image
    var elements = document.querySelectorAll('[style*="background"]');
    elements.forEach(function(el) {
      var style = el.getAttribute('style');
      if (style && (style.indexOf('.jpg') !== -1 || style.indexOf('.png') !== -1)) {
        el.setAttribute('style', style.replace(/\.(jpg|png)/g, '.webp'));
      }
    });
  }
})();
</script>

{% if site.google-tracking-id %}
  <!-- Google tag (gtag.js) - Google Analytics 4 -->
  <!-- Note: SRI not practical for GA scripts as they change frequently -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google-tracking-id }}" crossorigin="anonymous"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google-tracking-id }}');
  </script>
{% endif %}

{% if page.section-type == "post" %}

  <!-- Share buttons -->

  {% if site.twitter-share %}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  {% endif %}

  {% if site.fb-share and site.fb-app-id %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0&appId={{ site.fb-app-id }}&autoLogAppEvents=1"></script>
  {% elsif site.fb-share %}
    <!-- Facebook SDK disabled: fb-app-id not configured in _config.yml -->
  {% endif %}

  <!-- Disqus -->

  {% if site.disqus-shortname %}
    <script>
    var disqus_shortname = '{{ site.disqus-shortname }}';
    (function() {
        var dsq = document.createElement('script'); dsq.async = true;
        dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
  {% endif %}

{% endif %}

{% if page.section-type == "post" or page.section-type == "blog" or page.section-type == "index" or page.section-type == "tag" %}

  <!-- Comments counter -->

  <script>
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = '{{ site.disqus-shortname }}'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>
{% endif %}
