<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <a href="#main-content" class="skip-link">Skip to main content</a>

  {% include navigation.html %}

  <main id="main-content">
  <section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <h1><strong>{{ page.title }}</strong></h1>

	{{ page.content | markdownify }}

	{% include optimized-image.html src=site.404-img alt="404 - Page Not Found" class="img-responsive center-block" %}

	{% include social-buttons.html %}

      </div>
    </div>
  </section>
  </main>
  
  {% include footer.html %}

  {% include js.html %}
  
  {% if page.url == "/404.html" %}
  <script>
    // Redirect to homepage after 20 seconds
    setTimeout(function() {
      window.location.href = window.location.origin + '{{ site.baseurl }}/';
    }, 20000);
  </script>
  {% endif %}
    
  </body>
</html>
